<ion-app>
<ion-header >
  <ion-toolbar>
    <h1 style="text-align: center;">Weather App</h1>
  </ion-toolbar>
</ion-header>


<!-- <ion-content> -->
<ion-tabs  class="Adjust">
  <ion-tab-bar slot="top">
    <ion-tab-button tab="current-weather" [ngClass]="currentRoute=='current-weather'?'Active':''" (click)="route('current-weather')" >
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label class="Font">Current Weather</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="weather-forecast"  [ngClass]="currentRoute=='weather-forecast'?'Active':''" (click)="route('weather-forecast')" >
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <ion-label>Weather Forecast</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- </ion-content> -->

</ion-app>






